<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NapCar"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.PerfilUserActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.AlertsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.CreateAlertsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.InfoVehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegistroVehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.VehiculosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.OptionsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TalleresActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.TutorialesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.Tutoriales_Aceite"
            android:exported="false"/>
        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>